<launch>

	<arg name="robots_count" default="10" />
	<arg name="joy_topic" default="/joy" />

	<param name="/robots_count" value="$(arg robots_count)" />

	<node name="joystick_publisher" pkg="mr_tools" type="joystick_publisher">
		<param name="topic" value="$(arg joy_topic)" />
		<param name="robots_count" value="$(arg robots_count)" />
		<param name="dev" value="/dev/input/js0" />
	</node>

	<node name="mr_teleoperator" pkg="mr_tools" type="mr_teleoperator">
		<param name="joy_topic" value="$(arg joy_topic)" />
		<param name="robots_count" value="$(arg robots_count)" />

		<!-- 
			Final velocity topic will be '/robot_ns_format/velocity_topic', 
			e.g. '/pioneer_1/cmd_vel' 
		-->
		<param name="robot_ns_format" value="/pioneer_{robotId}" />
		<param name="velocity_topic" value="cmd_vel" /> 

		<param name="scale_linear" value="2.0" />
		<param name="scale_angular" value="0.9" />
	</node>

	<node name="rqt" pkg="rqt_gui" type="rqt_gui" />

</launch>