<launch>
    <rosparam ns="mr_teleoperator">
      input_topics:
        Joystick: /joy_cmd_vel
        Keyboard: /keyboard_cmd_vel
        Mouse:    /mouse_cmd_vel
      output_topics:
        - /pioneer_1/cmd_vel
        - /pioneer_2/cmd_vel
        - /pioneer_3/cmd_vel
        - /pioneer_4/cmd_vel
        - /pioneer_5/cmd_vel
        - /pioneer_6/cmd_vel
        - /pioneer_7/cmd_vel
        - /pioneer_8/cmd_vel
        - /pioneer_9/cmd_vel
        - /pioneer_10/cmd_vel
    </rosparam>
    
    <node name="joystick_publisher" pkg="mr_tools" type="joystick_publisher" />
    <node name="mr_teleoperator" pkg="mr_tools" type="velocity_dispatcher" output="screen" />
    <node name="rqt" pkg="rqt_gui" type="rqt_gui" output="screen" />
</launch>
